<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>
        Title : <input type="text" #title><br><br>
        Body : <input type="text" #body>
      </p>

      <p><strong> Document Name : {{ docName | async }} </strong></p>
      
      <button class="btn btn-primary" (click)="onAddPost(title.value, body.value)">Add Post</button><br><br>
      <button class="btn btn-primary" (click)="onSave()">Save Posts</button><br><br>
      <button class="btn btn-primary" (click)="onGet()">Get Posts</button><br><br>
      <button class="btn btn-primary" (click)="onUpdate()">Update Post</button>
      <hr>
      <ul class="list-group" *ngFor="let post of posts">
        <li class="list-group-item">{{ post.title }} (ID: {{ post.id }})</li>
        <li class="list-group-item">{{ post.body }}</li>
      </ul>
    </div>
  </div>
</div>
